
                            <div id="dictionaries" class="col s12">
                                <div class="row">
                                    <div class="col m4 s12">
                                        <div id="dictionary-list" class="collection with-header">
                                            <div class="collection-header">
                                                <h6>Dictionaries</h6>
                                                <span class="secondary-content">
                                                    <i class="material-icons tooltipped"
                                                       id="import-btn"
                                                       data-position="right"
                                                       data-tooltip="Import dictionary">file_download</i>
                                                    <i class="material-icons tooltipped"
                                                       id="add-btn"
                                                       data-position="right"
                                                       data-tooltip="Add dictionary">add</i>
                                                    <i class="material-icons tooltipped hide"
                                                       id="confirm-btn"
                                                       data-position="right"
                                                       data-tooltip="Confirm addition">check</i>
                                                    <i class="material-icons tooltipped hide"
                                                       id="cancel-btn"
                                                       data-position="left"
                                                       data-tooltip="Cancel">close</i>
                                                </span>
                                            </div>
                                            <div class="scrollable">
                                                <div class="collection-item new hide">
                                                    <div class="input-field">
                                                        <input id="dictionary-name" type="text" class="validate">
                                                        <label for="dictionary-name">Type dictionary name</label>
                                                        <span class="helper-text hide red-text"></span>
                                                    </div>
                                                </div>
                                                <div class="collection-item import hide">
                                                    <div class="input-field">
                                                        <input id="dictionary-name" type="text" class="validate">
                                                        <label for="dictionary-name">Type dictionary name</label>
                                                        <span class="helper-text hide red-text"></span>
                                                    </div>
                                                    <div class="file-field input-field">
                                                        <div class="btn waves-effect waves-light">
                                                            <span>File</span>
                                                            <input type="file" id="upload_file">
                                                        </div>
                                                        <div class="file-path-wrapper">
                                                            <input id="upload_file_text"
                                                                   class="file-path validate"
                                                                   type="text"
                                                                   placeholder="Upload file"
                                                            >
                                                            <span id="upload_file_helper" class="helper-text">
                                                                Maximum file size: 7Mb
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="collection-body"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col m8 s12">
                                        <div id="word-list" class="collection with-header hide-on-small-and-down">
                                            <div class="collection-header">
                                                <a href="#!" id="back-btn" class="hide-on-med-and-up">
                                                    <i class="material-icons tooltipped"
                                                       data-position="right"
                                                       data-tooltip="Return to dictionaries">arrow_back</i>
                                                </a>
                                                <h6>Words</h6>
                                                <span class="secondary-content">
                                                    <i class="material-icons tooltipped"
                                                       id="add-btn"
                                                       data-position="right"
                                                       data-tooltip="Add word">add</i>
                                                    <i class="material-icons tooltipped hide"
                                                       id="confirm-btn"
                                                       data-position="right"
                                                       data-tooltip="Confirm addition">check</i>
                                                    <i class="material-icons tooltipped hide"
                                                       id="cancel-btn"
                                                       data-position="left"
                                                       data-tooltip="Cancel">close</i>
                                                </span>
                                            </div>
                                            <div class="scrollable">
                                                <div class="collection-item new hide">
                                                    <div class="input-field">
                                                        <input id="word-origin" type="text" class="validate">
                                                        <label for="word-origin">Type word or phrase</label>
                                                        <span class="helper-text hide red-text"></span>
                                                    </div>
                                                </div>
                                                <div class="collection-body"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
