
                            <div id="dictionaries" class="col s12">
                                <div class="row">
                                    <div class="col m4 s12">
                                        <div id="dictionary-list" class="collection with-header">
                                            <div class="collection-header">
                                                <h6>Dictionaries</h6>
                                                <span class="secondary-content">
                                                    <i class="material-icons tooltipped"
                                                       id="add-btn"
                                                       data-position="right"
                                                       data-tooltip="Add dictionary">add</i>
                                                </span>
                                            </div>
                                            <div class="scrollable">
                                                <div class="collection-item new hide">
                                                    <div class="input-field">
                                                        <input id="dictionary-name" type="text" class="validate">
                                                        <label for="dictionary-name">Type dictionary name</label>
                                                        <span class="helper-text hide red-text"></span>
                                                    </div>
                                                    <span class="secondary-content">
                                                        <i class="material-icons tooltipped"
                                                           id="confirm-btn"
                                                           data-position="right"
                                                           data-tooltip="Confirm addition">check</i>
                                                        <i class="material-icons tooltipped"
                                                           id="cancel-btn"
                                                           data-position="left"
                                                           data-tooltip="Cancel">close</i>
                                                    </span>
                                                </div>
                                                <div class="collection-body"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col m8 s12">
                                        <div id="word-list" class="collection with-header">
                                            <div class="collection-header">
                                                <h6>Words</h6>
                                                <span class="secondary-content">
                                                    <i class="material-icons tooltipped"
                                                       id="add-btn"
                                                       data-position="right"
                                                       data-tooltip="Add word">add</i>
                                                </span>
                                            </div>
                                            <div class="scrollable">
                                                <div class="collection-item new hide">
                                                    <div class="input-field">
                                                        <input id="word-origin" type="text" class="validate">
                                                        <label for="word-origin">Type word or phrase</label>
                                                        <span class="helper-text hide red-text"></span>
                                                    </div>
                                                    <span class="secondary-content">
                                                        <i class="material-icons tooltipped"
                                                           id="confirm-btn"
                                                           data-position="right"
                                                           data-tooltip="Confirm addition">check</i>
                                                        <i class="material-icons tooltipped"
                                                           id="cancel-btn"
                                                           data-position="left"
                                                           data-tooltip="Cancel">close</i>
                                                    </span>
                                                </div>
                                                <div class="collection-body"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
