.idea

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/public/assets/js/node_modules/
/public/assets/js/dist/
/public/assets/js/config.js
/public/assets/js/package-lock.json
/config/packages/client_secret.json
