<div id="modal-introduction-video-subtitles-phrases-3" class="modal" style="width: 310px">
    <div class="modal-content">
        <video class="responsive-video" controls autoplay muted>
            <source src="{{ asset('assets/video/friends.s01e02.phrases.step3.mp4') }}" type="video/mp4">
        </video>
    </div>
    <div class="modal-footer">
        <a href="#" onclick="return false" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>
