<div id="modal-introduction-video-my-words-1" class="modal">
    <div class="modal-content">
        <video class="responsive-video" controls autoplay muted>
            <source src="{{ asset('assets/video/my-words.march.step1.mp4') }}" type="video/mp4">
        </video>
    </div>
    <div class="modal-footer">
        <a href="#" onclick="return false" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>
