<div id="modal-select-word-image" class="modal">
    <div class="modal-content">
        <div style="display: flex; flex-direction: column;">
            <div class="input-field">
                <i class="material-icons prefix">search</i>
                <input id="modal-word-image-query" type="text" />
                <label for="modal-word-image-query">search image query</label>
            </div>

            <div class="scrollable">
                <ul id="modal-select-word-image-list" class="image-gallery"></ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" onclick="return false" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>
