.container {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.container.onscreen {
    align-items: center;
    height: 100vh;
    padding-top: 0;
}

div#introduction, div#description, div#preprocessing, div#download {
    width: 100%;
    min-height: 700px;
    padding-top: 40px;
}

#preprocessing-form, #flashcard-form {
    width: 100%;
    margin: 0 auto;
}

.textarea-container textarea {
    padding-left: 60px;
    height: 502px!important;
    overflow-y: auto;
}

.select-wrapper input.select-dropdown {
    font-size: 14px;
}

.row-counter {
    pointer-events: none;
}

.switch label.truncate {
    height: 22px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media only screen and (min-width: 601px) {
    .buttons {
        flex-direction: row;
    }
}