.container {
    display: flex;
    justify-content: center;
    padding-top: 0;
}

.onscreen {
    align-items: center;
}

nav .container {
    align-items: center;
}

div#introduction, div#preprocessing, div#flashcards, div#dictionaries, div#learning {
    width: 100%;
    min-height: 700px;
    padding-top: 40px;
}

#preprocessing-form, #flashcard-form {
    width: 100%;
    margin: 0 auto;
}

.textarea-container textarea {
    padding-left: 60px!important;
    height: 502px!important;
    overflow-y: auto!important;
}

.select-wrapper input.select-dropdown {
    font-size: 14px;
}

.row-counter {
    pointer-events: none;
}

.switch label.truncate {
    height: 22px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.collection-item .buttons .btn {
    flex: 1;
}

@media only screen and (min-width: 601px) {
    .buttons {
        flex-direction: row;
    }
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
}

a.modal-trigger {
    border-bottom: 1px dashed;
}

nav .input-field {
    padding-top: 19px;
}

nav .input-field .select-wrapper + label {
    top: -26px;
}

footer .navbar-fixed nav.navbar {
    bottom: 0;
}

footer .container {
    height: 100%;
}

footer .tabs {
    height: 100%;
}

footer .tabs .tab {
    height: 100%;
}

footer .tabs .indicator {
    top: 0;
}

div#dictionaries .collection-item.new {
    position: relative;
    display: flex;
    border-top: 1px solid #e0e0e0;
}

div#dictionaries .collection-item.new .input-field {
    width: 100%;
}

div#dictionaries .collection-item.new .input-field input {
    /*margin-bottom: 0;*/
}

div#dictionaries .collection-header .secondary-content {
    position: absolute;
    right: 20px;
    top: 16px;
}

div#dictionaries .collection-item.new .secondary-content {
    position: absolute;
    right: 20px;
}

div#dictionaries .collection .secondary-content i {
    cursor: pointer;
}

div#dictionaries .collection .scrollable {
    height: 679px;
    overflow-y: auto;
}

.collection .collection-item.active .secondary-content {
    color: #26a69a!important;
}

.collection .collection-item {
    background-color: transparent!important;
}

.collection .collection-item.avatar.active {
    background-color: #eee!important;
}

.collection .collection-item.avatar p {
    padding-right: 60px;
}

.collection .collection-item.avatar a.modal-trigger {
    width: 42px;
    height: 42px;
    display: block;
    position: absolute;
    left: 15px;
    border-bottom: none;
}

.collection .collection-item.avatar a.modal-trigger .circle {
    left: 0;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-gallery::after {
    content: "";
    flex-grow: 999;
}

.image-gallery > li {
    height: 300px;
    cursor: pointer;
    position: relative;
    flex: 1 1 auto;
}

.image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
}

.image-gallery li .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    border-radius: 5px;
    /* center overlay text */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* hover */
.image-gallery li:hover .overlay {
    transform: scale(1);
}

#modal-select-word-image .scrollable {
    overflow-y: auto;
    height: 498px;
}

.loader:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
    z-index: 1;
}

.loader:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
    transform: scale(1);
    transition: all 0.2s 0.1s ease-in-out;
}

.row .col.collapsible-wrapper {
    position: relative;
    padding: 35px;
}

.row .col.collapsible-wrapper .collapsible {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 0;
    z-index: 1;
}

.row .col.collapsible-wrapper .collapsible .collapsible-body {
    background-color: #f4f4f4;
}

.card.horizontal .card-image {
    max-width: 30%!important;
}