
                            <div id="preprocessing" class="col s12">
                                <form id="preprocessing-form" class="col s12">
                                    <div class="row">
                                        <div class="col m6 s12">
                                            <div class="input-field">
                                                <div class="textarea-container">
                                                    <textarea id="source_text"
                                                              class="materialize-textarea"
                                                              data-length="1000"
                                                    ></textarea>
                                                </div>
                                                <label for="source_text">Text</label>
                                                <span class="helper-text">
                                                    Copy your source text and paste it to this field.<br />
                                                    Or upload as a file.
                                                </span>
                                            </div>
                                            <span id="text_volume" class="badge">
                                                0 characters / 0 rows
                                            </span>
                                        </div>
                                        <div class="col m6 s12">
                                            <div class="row">
                                                <div class="col s12">
                                                    <div class="row">
                                                        <div class="col s12">
                                                            <a class="modal-trigger teal-text lighten-1"
                                                               href="#modal-preprocessing-upload"
                                                            >Upload file</a>
                                                            <label>with text, subtitles or eBook (fb2)</label>
                                                            <div class="file-field input-field">
                                                                <div class="btn waves-effect waves-light">
                                                                    <span>File</span>
                                                                    <input type="file" id="upload_file">
                                                                </div>
                                                                <div class="file-path-wrapper">
                                                                    <input id="upload_file_text"
                                                                           class="file-path validate"
                                                                           type="text"
                                                                           placeholder="Upload file"
                                                                    >
                                                                    <span id="upload_file_helper" class="helper-text">
                                                                        Maximum file size: 7Mb
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row hide">
                                                        <div class="col s12">
                                                            <a class="modal-trigger teal-text lighten-1"
                                                               href="#modal-preprocessing-chapters"
                                                            >eBook chapter</a>
                                                            <label for="chapters">
                                                                select chapter
                                                            </label>
                                                            <div class="input-field">
                                                                <select id="chapters"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s12">
                                                    <div class="row">
                                                        <div class="col s12 truncate">
                                                            <a class="modal-trigger teal-text lighten-1"
                                                               href="#modal-preprocessing-options"
                                                            >Options</a>
                                                            <label>
                                                                for processing source text
                                                                ( <a href="#" onclick="return preprocessingOptions.turnAll(true);">All</a> |
                                                                <a href="#" onclick="return preprocessingOptions.turnAll(false);">Clear</a> )
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col s6">
                                                            <div class="row">
                                                                <div class="col s12">
                                                                    <div class="switch">
                                                                        <label class="truncate">
                                                                            <input type="checkbox" id="clear_as_subtitles" />
                                                                            <span class="lever"></span>
                                                                            Clear as subtitles
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col s12">
                                                                    <div class="switch">
                                                                        <label class="truncate">
                                                                            <input type="checkbox" id="clear_tags" />
                                                                            <span class="lever"></span>
                                                                            Remove &#60;tags&#62;
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col s12">
                                                                    <div class="switch">
                                                                        <label class="truncate">
                                                                            <input type="checkbox" id="words_only" />
                                                                            <span class="lever"></span>
                                                                            Remove all, but letters
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col s12">
                                                                    <div class="switch">
                                                                        <label class="truncate">
                                                                            <input type="checkbox" id="clear_punctuation" />
                                                                            <span class="lever"></span>
                                                                            Clear Punctuation
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col s12">
                                                                    <div class="switch">
                                                                        <label class="truncate">
                                                                            <input type="checkbox" id="split_to_words" />
                                                                            <span class="lever"></span>
                                                                            One word in a row
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col s12">
                                                                    <div class="switch">
                                                                        <label class="truncate">
                                                                            <input type="checkbox" id="to_lowercase" />
                                                                            <span class="lever"></span>
                                                                            All to lowercase
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col s6">
                                                            <div class="row">
                                                                <div class="col s12">
                                                                    <div class="switch">
                                                                        <label class="truncate">
                                                                            <input type="checkbox" id="remove_empty_rows" />
                                                                            <span class="lever"></span>
                                                                            Remove empty rows
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col s12">
                                                                    <div class="switch">
                                                                        <label class="truncate">
                                                                            <input type="checkbox" id="remove_duplicates" />
                                                                            <span class="lever"></span>
                                                                            Remove row duplicates
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col s12">
                                                                    <div class="switch">
                                                                        <label class="truncate">
                                                                            <input type="checkbox" id="remove_1_rows" />
                                                                            <span class="lever"></span>
                                                                            Remove 1-letter rows
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col s12">
                                                                    <div class="switch">
                                                                        <label class="truncate">
                                                                            <input type="checkbox" id="remove_2_rows" />
                                                                            <span class="lever"></span>
                                                                            Remove 2-letter rows
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col s12">
                                                                    <div class="switch">
                                                                        <label class="truncate">
                                                                            <input type="checkbox" id="remove_3_rows" />
                                                                            <span class="lever"></span>
                                                                            Remove 3-letter rows
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="buttons col s12">
                                                    <button class="btn waves-effect waves-light truncate"
                                                            id="apply-btn"
                                                            type="button"
                                                            onclick="preprocessingOptions.handle()"
                                                    >
                                                        <i class="material-icons left">arrow_back</i>
                                                        Apply options
                                                    </button>
                                                    <button class="btn waves-effect waves-light orange darken-2 truncate"
                                                            id="pass-btn"
                                                            onclick="return false"
                                                    >
                                                        <i class="material-icons right">arrow_forward</i>
                                                        <span>Pass on the processed text</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            {{ include('index/preprocessing/scripts.html.twig') }}
                            {{ include('index/preprocessing/modals/modals.html.twig') }}
