
                            <div id="learning" class="col s12">
                                <ul class="tabs tabs-fixed-width">
                                    <li class="tab">
                                        <a href="#addition">
                                            <i class="material-icons hide-on-med-and-up">announcement</i>
                                            <span class="hide-on-small-only">Addition</span>
                                        </a>
                                    </li>
                                    <li class="tab">
                                        <a href="#memorization">
                                            <i class="material-icons hide-on-med-and-up">blur_on</i>
                                            <span class="hide-on-small-only">Memorization</span>
                                        </a>
                                    </li>
                                    <li class="tab">
                                        <a href="#statistics">
                                            <i class="material-icons hide-on-med-and-up">content_copy</i>
                                            <span class="hide-on-small-only">Statistics</span>
                                        </a>
                                    </li>
                                </ul>
                                <div id="addition">
                                    <div class="row">
                                        <div class="col m4 s12">
                                            <div class="row">
                                                <div class="col s12 truncate">
                                                    Dictionaries
                                                    <label>for new words</label>
                                                </div>
                                            </div>
                                            <div id="dictionary-list" class="scrollable">
                                            </div>
                                        </div>
                                        <div class="col m8 s12">
                                            <div class="row">
                                                <div class="col m4 s12">
                                                    <img src="./"  alt="" />
                                                </div>
                                                <div class="col m8 s12">
                                                    <h5>test</h5>
                                                    <p>
                                                        test
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s12">
                                                    <p>definition</p>
                                                    <p>examples</p>
                                                    <p>synonyms</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s12">
                                                    <div class="buttons center">
                                                        <button class="btn waves-effect waves-light truncate">I know it</button>
                                                        <button class="btn waves-effect waves-light lime lighten-1 truncate">Skip now</button>
                                                        <button class="btn waves-effect waves-light orange darken-2 truncate">Add for memorization</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="memorization"></div>
                                <div id="statistics"></div>
                            </div>
