
                            <div id="learning" class="col s12">
                                <ul class="tabs tabs-fixed-width">
                                    <li class="tab">
                                        <a href="#addition">
                                            <i class="material-icons hide-on-med-and-up">announcement</i>
                                            <span class="hide-on-small-only">Addition</span>
                                            <span class="badge">0</span>
                                        </a>
                                    </li>
                                    <li class="tab">
                                        <a href="#memorization">
                                            <i class="material-icons hide-on-med-and-up">blur_on</i>
                                            <span class="hide-on-small-only">Memorization</span>
                                            <span class="badge">0</span>
                                        </a>
                                    </li>
                                    <li class="tab">
                                        <a href="#statistics">
                                            <i class="material-icons hide-on-med-and-up">content_copy</i>
                                            <span class="hide-on-small-only">Statistics</span>
                                        </a>
                                    </li>
                                </ul>
                                {{ include('index/learning/addition.html.twig') }}
                                {{ include('index/learning/memorization.html.twig') }}
                                <div id="statistics"></div>
                            </div>
