<div id="statistics">
    <div class="row">
        <div class="col s12 collapsible-wrapper">
            <ul class='collapsible'>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">expand_more</i>
                        Options
                    </div>
                    <div class="collapsible-body" data-component="options">
                        <div class="row">
                            <div class="col s12 m6" data-component="period">
                                <div class="row">
                                    <div class="col s12">
                                        Period
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <label>
                                            <input name="period" type="radio" value="week" checked/>
                                            <span>Week</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <label>
                                            <input name="period" type="radio" value="month"/>
                                            <span>Month</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <label>
                                            <input name="period" type="radio" value="3months"/>
                                            <span>3 Months</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <label>
                                            <input name="period" type="radio" value="6months"/>
                                            <span>6 Months</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <label>
                                            <input name="period" type="radio" value="year"/>
                                            <span>Year</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <label>
                                            <input name="period" type="radio" value="total"/>
                                            <span>Total</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m6" data-component="types">
                                <div class="row">
                                    <div class="col s12">
                                        Types
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <label>
                                            <input name="started" type="checkbox" checked="checked" />
                                            <span>Started</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <label>
                                            <input name="repeated" type="checkbox" checked="checked"/>
                                            <span>Repeated</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <label>
                                            <input name="completed" type="checkbox" checked="checked"/>
                                            <span>Completed</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <label>
                                            <input name="wellKnown" type="checkbox" checked="checked"/>
                                            <span>Already known</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <canvas data-component="chart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
