
    <div class="navbar-fixed">
        <nav class="navbar white">
            <div class="nav-wrapper">
                <div class="container">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab">
                            <a href="#introduction">
                                <i class="material-icons hide-on-med-and-up">announcement</i>
                                <span class="hide-on-small-only">Introduction</span>
                            </a>
                        </li>
                        <li class="tab">
                            <a href="#preprocessing">
                                <i class="material-icons hide-on-med-and-up">blur_on</i>
                                <span class="hide-on-small-only">Preprocessing</span>
                            </a>
                        </li>
                        <li class="tab">
                            <a href="#download">
                                <i class="material-icons hide-on-med-and-up">content_copy</i>
                                <span class="hide-on-small-only">Flashcards</span>
                            </a>
                        </li>
                        <li class="tab">
                            <a href="#dictionaries">
                                <i class="material-icons hide-on-med-and-up">book</i>
                                <span class="hide-on-small-only">Dictionaries</span>
                            </a>
                        </li>
                        <li class="tab">
                            <a href="#dictionaries">
                                <i class="material-icons hide-on-med-and-up">autorenew</i>
                                <span class="hide-on-small-only">Leaning</span>
                            </a>
                        </li>
                    </ul>
                    <script src="{{ asset('assets/js/index/tabs.js') }}"></script>
                </div>
            </div>
        </nav>
    </div>
