
    <div class="navbar-fixed">
        <nav class="navbar white">
            <div class="nav-wrapper">
                <a href="#!" id="toggle-theme" data-target="sidenav-left" class="sidenav-trigger left">
                    <i class="material-icons">spa</i>
                </a>
                <a href="#!" class="sidenav-trigger right">
                    <i class="material-icons">account_circle</i>
                </a>
                <div class="nav-content">
                    <div class="input-field">
                        <select id="target"></select>
                        <label for="target">Your native<span class="hide-on-small-and-down"> language</span></label>
                    </div>
                    <div class="input-field">
                        <select id="source"></select>
                        <label for="source">Your learning<span class="hide-on-small-and-down"> language</span></label>
                    </div>
                </div>
            </div>
        </nav>
    </div>
