<div id="modal-introduction-video-subtitles-phrases-1" class="modal" data-component="mmm">
    <div class="modal-content">
        <video class="responsive-video" controls autoplay muted></video>
    </div>
    <div class="modal-footer">
        <a href="#" onclick="return false" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>
